<ion-header>
  
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <!--//////////////////////BTN menu///////////////////////////////-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--//////////////////////Letras Folder///////////////////////////////-->
    <ion-title >INICIANDO RUTA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image">
    <img src="../../assets/media/escudo.png" alt="Imagen de fondo">
  </div>
<!--////////////////////////////////////CONTENIDO///////////////////////////////////////-->
<ion-card class="coworker-card">
  <div class="login-form ion-padding">
    <div class="form-input">
      <ion-icon name="ellipse"></ion-icon>
      <ion-item>
        <ion-label position="floating">Punto de Partida</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </div>
    <div class="form-input">
      <ion-icon name="albums"></ion-icon>
      <ion-item>
        <ion-label position="floating">Destino</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </div>
  </div>
</ion-card>

<ion-card class="coworker-card">

<ion-list>
          <ion-list-header>
            <ion-label>
              VIAJES DISPONIBLES
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-avatar slot="start">
              <img src="../../assets/media/juanacleto.jpg" />
            </ion-avatar>
            <ion-label>
              <h2>Junacleto Ristaceo</h2>
              <h3>Destino   : Duoc uc Av.Chuhunco city</h3>
              <h3>Ubicacion : Psje La Tortini</h3>
              <h3>Tarifa : $12.995</h3>
              <p></p>
            </ion-label>
            <ion-button fill="creal" routerLink="/confirmacionconductor">
              <ion-icon size="large" name="speedometer-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="../../assets/media/juanacleto.jpg" />
            </ion-avatar>
            <ion-label>
              <h2>Junacleto Ristaceo</h2>
              <h3>Destino   : Duoc uc Av.Chuhunco city</h3>
              <h3>Ubicacion : Psje La Tortini</h3>
              <h3>Tarifa : $12.995</h3>
              <p></p>
            </ion-label>
            <ion-button fill="creal" routerLink="/confirmacionconductor">
              <ion-icon size="large" name="speedometer-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="../../assets/media/juanacleto.jpg" />
            </ion-avatar>
            <ion-label>
              <h2>Junacleto Ristaceo</h2>
              <h3>Destino   : Duoc uc Av.Chuhunco city</h3>
              <h3>Ubicacion : Psje La Tortini</h3>
              <h3>Tarifa : $12.995</h3>
              <p></p>
            </ion-label>
            <ion-button fill="creal" routerLink="/confirmacionconductor">
              <ion-icon size="large" name="speedometer-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="../../assets/media/juanacleto.jpg" />
            </ion-avatar>
            <ion-label>
              <h2>Junacleto Ristaceo</h2>
              <h3>Destino   : Duoc uc Av.Chuhunco city</h3>
              <h3>Ubicacion : Psje La Tortini</h3>
              <h3>Tarifa : $12.995</h3>
              <p></p>
            </ion-label>
            <ion-button fill="creal" routerLink="/confirmacionconductor">
              <ion-icon size="large" name="speedometer-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>


</ion-card>

<ion-card class="coworker-card">
  <div>
    <img class="map" src="../../assets/media/map.png" alt="">
  </div>
</ion-card>

<ion-fab horizontal="center" vertical="bottom" slot="fixed">
  <ion-fab-button color="warning">
    <ion-icon name="search-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="warning" routerLink="/confirmacionconductor">
      <ion-icon size="large" name="people-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
<!--////////////////////////////////////////////////////////////////////////////////////-->
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="primary">
    <ion-icon name="caret-up"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light" routerLink="/homeconductor">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" routerLink="/conductor">
      <ion-icon name="person" ></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" routerLink="/actividad">
      <ion-icon name="timer"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" routerLink="/gananciaconductor">
      <ion-icon name="card"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
<!--///////////////////////////////////////////////////////////////////////////////////-->

<!-- Imagen de fondo -->

</ion-content>
