<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <!--//////////////////////BTN menu///////////////////////////////-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--//////////////////////Letras Folder///////////////////////////////-->
    <ion-title >CUENTA PASAJERO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image">
    <img src="../../assets/media/escudo.png" alt="Imagen de fondo">
  </div>
  <!-- Encabezado -->
  <div class="header">
    <!-- Logo de tu aplicación -->
    <div class="logo">
      <img src="../../assets/media/escudo.png" alt="Tu Logo">
    </div>
    <!-- Botón para abrir el menú de navegación o realizar otra acción -->
  </div>
<!--////////////////////////////////////CONTENIDO///////////////////////////////////////////////-->

<ion-card class="coworker-card">
  <ion-card-content>
    <ion-list  style="border-radius: 15px;" lines="none">
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/media/card-coworker-avatar.png"/>
        </ion-avatar>
        <ion-label>
          <h2>John Parks</h2>
          <p>Conductor de profesion</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>(555) 418-5602</h2>
          <p>Celular</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="car-sport-outline" slot="start"></ion-icon>
        <ion-button slot="end" fill="clear" >
          <ion-icon name="person-outline"></ion-icon>
          <ion-icon name="person-outline"></ion-icon>
          <ion-icon name="person-outline"></ion-icon>
          <ion-icon name="person-outline"></ion-icon> 
        </ion-button>
        <ion-label>
          <h2>Susuki Maruti</h2>
          <p>Modelo</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="ellipsis-horizontal-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>SJ-GT-99</h2>
          <p>Patente</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<div class="sede-buttons-a">
  <ion-button expand="block" fill="clear" routerLink="/gananciaconductor">PAGO</ion-button>
  <ion-button expand="block" fill="clear" routerLink="/actividad">ACTIVIDAD</ion-button>
  <ion-button expand="block" fill="clear">INFO</ion-button>
  <ion-button expand="block" fill="clear" routerLink="/splash">CERRAR SESSION</ion-button>
</div>


<!--////////////////////////////////////////////////////////////////////////////////////-->
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="primary">
    <ion-icon name="caret-up"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light" routerLink="/homeconductor">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" routerLink="/conductor">
      <ion-icon name="person" ></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" routerLink="/actividad">
      <ion-icon name="timer"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" routerLink="/gananciaconductor">
      <ion-icon name="card"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="danger" routerLink="/splash">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
<!--///////////////////////////////////////////////////////////////////////////////////-->


  <!-- Imagen de fondo -->
  <div class="logo-pag ion-text-center">
    <div>
      <img src="../../assets/media/Logo_DuocUC.png" alt="Imagen de fondo">      
    </div>
  </div>
  
</ion-content>
