.auto{
    width: 80%;
    height: 200px;
    border-color: aquamarine;
    background-color: brown;
    margin: auto;
    display: flex;
    margin-bottom: 15px;
}

.foto{
    padding: 15px;
    height: 190px;
    width: 190px;
    
}