<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <!--//////////////////////BTN menu///////////////////////////////-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--//////////////////////Letras Folder///////////////////////////////-->
    <ion-title >TRAYECTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image">
    <img src="../../assets/media/escudo.png" alt="Imagen de fondo">
  </div>
  <!-- Encabezado -->
  <div class="header">
    <!-- Logo de tu aplicación -->
    <div class="logo">
      <img src="../../assets/media/escudo.png" alt="Tu Logo">
    </div>
    <!-- Botón para abrir el menú de navegación o realizar otra acción -->
  </div>
<!--////////////////////////////////////CONTENIDO///////////////////////////////////////////////-->

<div class="user-info">
  <h2>Nombre del Usuario</h2>
  <p>Correo electrónico: usuario@example.com</p>
</div>


<!--///////////////////////////////////////////////////////////////////////////////////-->

  <!-- Imagen de fondo -->
  <div class="logo-pag ion-text-center">
    <div>
      <img src="../../assets/media/Logo_DuocUC.png" alt="Imagen de fondo">      
    </div>
  </div>
  
</ion-content>
