<ion-content>
  <div class="login-section ion-padding floating-container">
    <div class="heading ion-padding">
      <h1 class="login-text">Seleciona</h1>
    </div>

    <div class="action-buttons ion-padding">
      <ion-button size="large" class="viajero-button"  routerLink="/register">Viajero</ion-button>
      <ion-button class="conductor-button" size="large" fill="outline" routerLink="/register">Conductor</ion-button>
    </div>
    <!--imagen-->
    <div class="Logo-login">
      <img src="../../assets/media/Logo_DuocUC.png" alt="">
    </div>
  </div>
</ion-content>

