<ion-header>
  
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <!--//////////////////////BTN menu///////////////////////////////-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--//////////////////////Letras Folder///////////////////////////////-->
    <ion-title >TERMINO DE VIAJE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image">
    <img src="../../assets/media/escudo.png" alt="Imagen de fondo">
  </div>
<!--////////////////////////////////////CONTENIDO///////////////////////////////////////-->
<h2 style="text-align: center;">PAGO</h2>
<ion-card class="coworker-card">
  <ion-item> 
    <ion-button slot="end" fill="clear" >
      <ion-icon size="large" name="checkmark-done-circle"></ion-icon>
    </ion-button>
    <ion-label>
      <h1 style="font-size: 1.5rem;">Destino</h1>
      <p style="font-size: 1rem; color:#04115c ;">Entre Tongo y los Vilos</p>
    </ion-label>
  </ion-item>
</ion-card>
<ion-card class="coworker-card">
  <img src="../../assets/media/card-coworker-header.png" class="header-img"/>
  <ion-card-content>
    <ion-list  style="border-radius: 15px;" lines="none">
      <ion-item>
        <ion-button slot="end" fill="clear" >
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-half"></ion-icon>
          <ion-icon color="#000547" name="link-outline" ></ion-icon>
        </ion-button>
        <ion-avatar slot="start">
          <img src="../../assets/media/card-coworker-avatar.png"/>
        </ion-avatar>
        <ion-label>
          <h1>John Parks</h1>
          <p>Conductor de profesion</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-card  class="coworker-card">
    <ion-list  style="border-radius: 15px; " lines="none">
      <ion-item >
        <ion-button size="large" slot="end" fill="clear" >
          <ion-icon name="wallet-outline"></ion-icon>
        </ion-button>
        <ion-label>
          <h1>Total a Pagar</h1>
          <p>Efectivo</p>
          <p>$1.320</p>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-card>
<ion-card zclass="coworker-card">
  <ion-list  style="border-radius: 15px;" lines="none">
    <ion-item>
      <ion-button size="large" slot="end" fill="clear" >
        <ion-icon name="card-outline"></ion-icon>
      </ion-button>
      <ion-label>
        <h1>Total a Pagar</h1>
        <p>Tarjeta</p>
        <p>$1.320</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-card>
<!--////////////////////////////////////////////////////////////////////////////////////-->
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="primary">
    <ion-icon name="caret-up"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light" routerLink="/home">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" routerLink="/pasajero">
      <ion-icon name="person" ></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" royterLink="">
      <ion-icon name="card"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>


<!-- Imagen de fondo -->

</ion-content>
